.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    
    
}
.secondPart{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    font-family: Lato; 
    color: #fff;
    width: 330px;
    height: 700px;
    
    /* height: 250px; */
    /* background-color: rgb(140, 223, 195); */
    padding: 30px;
    background-image: url('../Asserts/character\ pic.svg');
    background-repeat: no-repeat;

}
h1{
    font-family: Lato;
font-size: 40px;
font-weight: 700;
line-height: 48px;
text-align: center;

}
.text{
font-family: Lato;
font-size: 20px;
font-weight: 500;
line-height: 24px;
text-align: left;
padding-bottom: 80px;

}