.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    
    
}
.secondPage{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    font-family: Lato; 
    color: #fff;
    width: 330px;
    height: 700px;
    
    /* height: 250px; */
    /* background-color: rgb(140, 223, 195); */
    padding: 30px;
    background-image: url('../Asserts/character\ pic.svg');

}
.fit{
    font-family: Lato;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
     
}
.text{
font-family: Lato;
font-size: 20px;
font-weight: 500;
line-height: 24px;
text-align: left;

}
.button1{
    width: 270px;
height:44px;
padding: 12px 16px 12px 16px;
gap: 16px;
border-radius: 8px 8px 8px 8px;
opacity: 0px;
background:rgba(49, 44, 81, 1);
margin-top: 30px;
}
.button2{
    width: 270px;
    height: 44px;
    padding: 12px 16px 12px 16px;
    gap: 16px;
    border-radius: 8px 8px 8px 8px;
    border:  2px 2px 2px 2px;
    opacity: 0px;
   color: rgba(240, 195, 142, 1);
   background-color: transparent;
     border-color: rgba(240, 195, 142, 1);
     margin-top: 30px;
}
.skip{
    
font-family: Nunito;
font-size: 14px;
font-weight: 400;
/* line-height: 18px; */
text-align: right;
top: 40px;

}